In [2]:
import pandas as pd
import numpy as np

In [18]:
df=pd.read_csv('/Users/hrishityelchuri/TBTFW_task/TBTFW_task/data/AAPL.csv')

In [19]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-02-21,150.199997,151.300003,148.410004,148.479996,147.691666,58867200
1,2023-02-22,148.869995,149.949997,147.160004,148.910004,148.119370,51011300
2,2023-02-23,150.089996,150.339996,147.240005,149.399994,148.606766,48394200
3,2023-02-24,147.110001,147.190002,145.720001,146.710007,145.931061,55469600
4,2023-02-27,147.710007,149.169998,147.449997,147.919998,147.134628,44998500
...,...,...,...,...,...,...,...
245,2024-02-12,188.419998,188.669998,186.789993,187.149994,187.149994,41781900
246,2024-02-13,185.770004,186.210007,183.509995,185.039993,185.039993,56529500
247,2024-02-14,185.320007,185.529999,182.440002,184.149994,184.149994,54630500
248,2024-02-15,183.550003,184.490005,181.350006,183.860001,183.860001,65434500
249,2024-02-16,183.419998,184.850006,181.669998,182.309998,182.309998,49701400

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       250 non-null    object
 1   Open       250 non-null    float64
 2   High       250 non-null    float64
 3   Low        250 non-null    float64
 4   Close      250 non-null    float64
 5   Adj Close  250 non-null    float64
 6   Volume     250 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.8+ KB

In [21]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,250.000000,250.000000,250.000000,250.000000,250.000000,2.500000e+02
mean,178.287761,179.777960,176.983240,178.492360,177.941889,5.695244e+07
std,12.843690,12.698113,12.786402,12.725368,12.866094,1.591466e+07
min,144.380005,146.710007,143.899994,145.309998,144.538513,2.404830e+07
25%,171.342502,173.157501,170.552502,171.869999,171.221340,4.693145e+07
50%,179.590003,180.794998,177.590004,179.410004,178.884682,5.322830e+07
75%,189.312500,189.990005,187.737500,189.352497,188.939693,6.221395e+07
max,198.020004,199.619995,197.000000,198.110001,197.857529,1.282567e+08

In [22]:
df.duplicated().sum()

0

In [23]:
# Calculate the moving averages
df['50-day MA'] = df['Close'].rolling(window=50).mean()
df['500-day MA'] = df['Close'].rolling(window=500).mean()
df['20-day MA'] = df['Close'].rolling(window=20).mean()
df['200-day MA'] = df['Close'].rolling(window=200).mean()
df['10-day MA'] = df['Close'].rolling(window=10).mean()
df['5-day MA'] = df['Close'].rolling(window=5).mean()

In [39]:
df.head(50)

,Date,Open,High,Low,Close,Adj Close,Volume,50-day MA,500-day MA,20-day MA,200-day MA,10-day MA,5-day MA,Buy Signal,Sell Signal
0,2023-02-21,150.199997,151.300003,148.410004,148.479996,147.691666,58867200,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,2023-02-22,148.869995,149.949997,147.160004,148.910004,148.119370,51011300,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,2023-02-23,150.089996,150.339996,147.240005,149.399994,148.606766,48394200,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,2023-02-24,147.110001,147.190002,145.720001,146.710007,145.931061,55469600,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,2023-02-27,147.710007,149.169998,147.449997,147.919998,147.134628,44998500,NaN,NaN,NaN,NaN,NaN,148.284000,0,0
5,2023-02-28,147.050003,149.080002,146.830002,147.410004,146.627350,50547000,NaN,NaN,NaN,NaN,NaN,148.070001,0,0
6,2023-03-01,146.830002,147.229996,145.009995,145.309998,144.538513,55479000,NaN,NaN,NaN,NaN,NaN,147.350000,0,0
7,2023-03-02,144.380005,146.710007,143.899994,145.910004,145.135315,52238100,NaN,NaN,NaN,NaN,NaN,146.652002,0,0
8,2023-03-03,148.039993,151.110001,147.330002,151.029999,150.228119,70732300,NaN,NaN,NaN,NaN,NaN,147.516001,0,0
9,2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000,NaN,NaN,NaN,NaN,148.491001,148.698001,0,0
10,2023-03-07,153.699997,154.029999,151.130005,151.600006,150.795120,56182000,NaN,NaN,NaN,NaN,148.803002,149.536002,0,0
11,2023-03-08,152.809998,153.470001,151.830002,152.869995,152.058365,47204800,NaN,NaN,NaN,NaN,149.199001,151.048001,0,0
12,2023-03-09,153.559998,154.539993,150.229996,150.589996,149.790466,53833600,NaN,NaN,NaN,NaN,149.318001,151.984000,0,0
13,2023-03-10,150.210007,150.940002,147.610001,148.500000,147.711578,68572400,NaN,NaN,NaN,NaN,149.497000,151.478000,0,0
14,2023-03-13,147.809998,153.139999,147.699997,150.470001,149.671112,84457100,NaN,NaN,NaN,NaN,149.752001,150.806000,0,0
15,2023-03-14,151.279999,153.399994,150.100006,152.589996,151.779831,73695900,NaN,NaN,NaN,NaN,150.270000,151.003998,0,0
16,2023-03-15,151.190002,153.250000,149.919998,152.990005,152.177734,77167900,NaN,NaN,NaN,NaN,151.038000,151.028000,0,0
17,2023-03-16,152.160004,156.460007,151.639999,155.850006,155.022537,76161100,NaN,NaN,NaN,NaN,152.032001,152.080002,0,0
18,2023-03-17,156.080002,156.740005,154.279999,155.000000,154.177048,98944600,NaN,NaN,NaN,NaN,152.429001,153.380002,0,0
19,2023-03-20,155.070007,157.820007,154.149994,157.399994,156.564301,73641400,NaN,NaN,150.638500,NaN,152.786000,154.766000,0,0
20,2023-03-21,157.320007,159.399994,156.539993,159.279999,158.434326,73938300,NaN,NaN,151.178500,NaN,153.553999,156.104001,0,0
21,2023-03-22,159.300003,162.139999,157.809998,157.830002,156.992020,75701800,NaN,NaN,151.624500,NaN,154.050000,157.072000,0,0
22,2023-03-23,158.830002,161.550003,157.679993,158.929993,158.086182,67622100,NaN,NaN,152.101000,NaN,154.884000,157.687998,0,0
23,2023-03-24,158.860001,160.339996,157.850006,160.250000,159.399170,59196500,NaN,NaN,152.778000,NaN,156.059000,158.737998,0,0
24,2023-03-27,159.940002,160.770004,157.869995,158.279999,157.439636,52390300,NaN,NaN,153.296000,NaN,156.839999,158.913999,0,0
25,2023-03-28,157.970001,158.490005,155.979996,157.649994,156.812973,45992200,NaN,NaN,153.807999,NaN,157.345999,158.587998,0,0
26,2023-03-29,159.369995,161.050003,159.350006,160.770004,159.916428,51305700,NaN,NaN,154.581000,NaN,158.123999,159.175998,0,0
27,2023-03-30,161.529999,162.470001,161.270004,162.360001,161.497971,49501700,NaN,NaN,155.403500,NaN,158.774999,159.862000,0,0
28,2023-03-31,162.440002,165.000000,161.910004,164.899994,164.024475,68749800,NaN,NaN,156.096999,NaN,159.764998,160.791998,0,0
29,2023-04-03,164.270004,166.289993,164.220001,166.169998,165.287735,56976200,NaN,NaN,156.713999,NaN,160.641998,162.369998,0,0
30,2023-04-04,166.600006,166.839996,165.110001,165.630005,164.750610,46278300,NaN,NaN,157.415499,NaN,161.276999,163.966000,0,0
31,2023-04-05,164.740005,165.050003,161.800003,163.759995,162.890533,51511700,NaN,NaN,157.959999,NaN,161.869998,164.563999,0,0
32,2023-04-06,162.429993,164.960007,162.000000,164.660004,163.785767,45390100,NaN,NaN,158.663500,NaN,162.442999,165.023999,0,0
33,2023-04-10,161.419998,162.029999,160.080002,162.029999,161.169739,47716900,NaN,NaN,159.339999,NaN,162.620999,164.450000,0,0
34,2023-04-11,162.350006,162.360001,160.509995,160.800003,159.946259,47644200,NaN,NaN,159.856500,NaN,162.873000,163.376001,0,0
35,2023-04-12,161.220001,162.059998,159.779999,160.100006,159.249985,50133100,NaN,NaN,160.232000,NaN,163.118001,162.270001,0,0
36,2023-04-13,161.630005,165.800003,161.419998,165.559998,164.680969,68445600,NaN,NaN,160.860500,NaN,163.597000,162.630002,0,0
37,2023-04-14,164.589996,166.320007,163.820007,165.210007,164.332840,49386500,NaN,NaN,161.328500,NaN,163.882001,162.740003,0,0
38,2023-04-17,165.089996,165.389999,164.029999,165.229996,164.352737,41516200,NaN,NaN,161.840000,NaN,163.915001,163.380002,0,0
39,2023-04-18,166.100006,167.410004,165.649994,166.470001,165.586151,49923000,NaN,NaN,162.293500,NaN,163.945001,164.514002,0,0
40,2023-04-19,165.800003,168.160004,165.539993,167.630005,166.740005,47720200,NaN,NaN,162.711000,NaN,164.145001,166.020001,0,0
41,2023-04-20,166.089996,167.869995,165.559998,166.649994,165.765198,52456400,NaN,NaN,163.152000,NaN,164.434001,166.238001,0,0
42,2023-04-21,165.050003,166.449997,164.490005,165.020004,164.143860,58337300,NaN,NaN,163.456500,NaN,164.470001,166.200000,0,0
43,2023-04-24,165.000000,165.600006,163.889999,165.330002,164.452194,41949600,NaN,NaN,163.710500,NaN,164.800002,166.220001,0,0
44,2023-04-25,165.190002,166.309998,163.729996,163.770004,162.900482,48714100,NaN,NaN,163.985001,NaN,165.097002,165.680002,0,0
45,2023-04-26,163.059998,165.279999,162.800003,163.759995,162.890533,45498800,NaN,NaN,164.290501,NaN,165.463001,164.906000,0,0
46,2023-04-27,165.190002,168.559998,165.190002,168.410004,167.515854,64902300,NaN,NaN,164.672501,NaN,165.748001,165.258002,0,0
47,2023-04-28,168.490005,169.850006,167.880005,169.679993,168.779114,55209200,NaN,NaN,165.038500,NaN,166.195000,166.190000,0,0
48,2023-05-01,169.279999,170.449997,168.639999,169.589996,168.689575,52472900,NaN,NaN,165.273000,NaN,166.631000,167.041998,0,0
49,2023-05-02,170.089996,170.350006,167.539993,168.539993,167.645157,48425700,158.5404,NaN,165.391500,NaN,166.837999,167.995996,0,0

In [42]:
df.to_excel('aapl.xlsx')

In [34]:
# Generate buy and sell signals
df['Buy Signal'] = ((df['50-day MA'] > df['500-day MA']) & (df['20-day MA'] > df['200-day MA'])).astype(int)
df['Sell Signal'] = ((df['20-day MA'] < df['200-day MA']) & (df['10-day MA'] < df['5-day MA'])).astype(int)

In [35]:
# Track buy and sell positions
buy_position = False
sell_position = False
positions = []

In [36]:
for index, row in df.iterrows():
    if row['Buy Signal'] == 1:
        if not buy_position:
            buy_position = True
            positions.append(('Buy', row['Date'], row['Close']))
    elif row['Sell Signal'] == 1:
        if not sell_position:
            sell_position = True
            positions.append(('Sell', row['Date'], row['Close']))
    else:
        if buy_position:
            buy_position = False
            positions.append(('Close Buy', row['Date'], row['Close']))
        if sell_position:
            sell_position = False
            positions.append(('Close Sell', row['Date'], row['Close']))

In [37]:
# Print the buy/sell positions
print("Buy/Sell Positions:")
for position in positions:
    print(position)

Buy/Sell Positions: