In [91]:
import pandas as pd
import numpy as np

In [92]:
import yfinance as yf

In [93]:
df=pd.read_csv('/Users/hrishityelchuri/TBTFW_task/TBTFW_task/data/AAPL.csv')

In [127]:
start_date = '2021-02-21' #500 stock days before 2023-02-21
end_date = '2024-02-17'

In [128]:
aapl=yf.download('AAPL', start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [129]:
aapl

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-02-22,128.009995,129.720001,125.599998,126.000000,123.840332,103916400
2021-02-23,123.760002,126.709999,118.389999,125.860001,123.702736,158273000
2021-02-24,124.940002,125.559998,122.230003,125.349998,123.201469,111039900
2021-02-25,124.680000,126.459999,120.540001,120.989998,118.916206,148199500
2021-02-26,122.589996,124.849998,121.199997,121.260002,119.181580,164560400
...,...,...,...,...,...,...
2024-02-12,188.419998,188.669998,186.789993,187.149994,187.149994,41781900
2024-02-13,185.770004,186.210007,183.509995,185.039993,185.039993,56529500
2024-02-14,185.320007,185.529999,182.440002,184.149994,184.149994,54630500
2024-02-15,183.550003,184.490005,181.350006,183.860001,183.860001,65434500
2024-02-16,183.419998,184.850006,181.669998,182.309998,182.309998,49701400

In [130]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,50-day MA
0,2023-02-21,150.199997,151.300003,148.410004,148.479996,147.691666,58867200,NaN
1,2023-02-22,148.869995,149.949997,147.160004,148.910004,148.119370,51011300,NaN
2,2023-02-23,150.089996,150.339996,147.240005,149.399994,148.606766,48394200,NaN
3,2023-02-24,147.110001,147.190002,145.720001,146.710007,145.931061,55469600,NaN
4,2023-02-27,147.710007,149.169998,147.449997,147.919998,147.134628,44998500,NaN
...,...,...,...,...,...,...,...,...
245,2024-02-12,188.419998,188.669998,186.789993,187.149994,187.149994,41781900,NaN
246,2024-02-13,185.770004,186.210007,183.509995,185.039993,185.039993,56529500,NaN
247,2024-02-14,185.320007,185.529999,182.440002,184.149994,184.149994,54630500,NaN
248,2024-02-15,183.550003,184.490005,181.350006,183.860001,183.860001,65434500,NaN
249,2024-02-16,183.419998,184.850006,181.669998,182.309998,182.309998,49701400,NaN

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       250 non-null    object
 1   Open       250 non-null    float64
 2   High       250 non-null    float64
 3   Low        250 non-null    float64
 4   Close      250 non-null    float64
 5   Adj Close  250 non-null    float64
 6   Volume     250 non-null    int64
 7   50-day MA  0 non-null      float64
dtypes: float64(6), int64(1), object(1)
memory usage: 15.8+ KB

In [132]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume,50-day MA
count,250.000000,250.000000,250.000000,250.000000,250.000000,2.500000e+02,0.0
mean,178.287761,179.777960,176.983240,178.492360,177.941889,5.695244e+07,NaN
std,12.843690,12.698113,12.786402,12.725368,12.866094,1.591466e+07,NaN
min,144.380005,146.710007,143.899994,145.309998,144.538513,2.404830e+07,NaN
25%,171.342502,173.157501,170.552502,171.869999,171.221340,4.693145e+07,NaN
50%,179.590003,180.794998,177.590004,179.410004,178.884682,5.322830e+07,NaN
75%,189.312500,189.990005,187.737500,189.352497,188.939693,6.221395e+07,NaN
max,198.020004,199.619995,197.000000,198.110001,197.857529,1.282567e+08,NaN

In [133]:
df.duplicated().sum()

0

In [134]:
# Calculate the moving averages
aapl['50-day MA'] = aapl['Close'].rolling(window=50).mean()
aapl['500-day MA'] = aapl['Close'].rolling(window=500).mean()
aapl['20-day MA'] = aapl['Close'].rolling(window=20).mean()
aapl['200-day MA'] = aapl['Close'].rolling(window=200).mean()
aapl['10-day MA'] = aapl['Close'].rolling(window=10).mean()
aapl['5-day MA'] = aapl['Close'].rolling(window=5).mean()

In [135]:
aapl.loc['2023-02-21':'2024-02-17']

,Open,High,Low,Close,Adj Close,Volume,50-day MA,500-day MA,20-day MA,200-day MA,10-day MA,5-day MA
Date,,,,,,,,,,,,
2023-02-21,150.199997,151.300003,148.410004,148.479996,147.691666,58867200,140.248799,148.66202,149.480999,147.30605,152.556999,152.654001
2023-02-22,148.869995,149.949997,147.160004,148.910004,148.119385,51011300,140.373999,148.71732,149.799999,147.26675,151.983000,151.796002
2023-02-23,150.089996,150.339996,147.240005,149.399994,148.606796,48394200,140.518799,148.76054,150.176999,147.22735,151.731000,150.610001
2023-02-24,147.110001,147.190002,145.720001,146.710007,145.931061,55469600,140.563199,148.80372,150.314499,147.20060,151.315001,149.210001
2023-02-27,147.710007,149.169998,147.449997,147.919998,147.134644,44998500,140.612199,148.85544,150.413999,147.16765,151.006001,148.284000
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-12,188.419998,188.669998,186.789993,187.149994,187.149994,41781900,190.435000,164.64220,189.212499,183.18465,187.586000,188.606003
2024-02-13,185.770004,186.210007,183.509995,185.039993,185.039993,56529500,190.336800,164.66670,189.282999,183.26780,187.286000,187.754001
2024-02-14,185.320007,185.529999,182.440002,184.149994,184.149994,54630500,190.195000,164.68990,189.356499,183.34015,187.261000,186.701999
2024-02-15,183.550003,184.490005,181.350006,183.860001,183.860001,65434500,190.083600,164.71986,189.117999,183.41150,186.961000,185.809998
2024-02-16,183.419998,184.850006,181.669998,182.309998,182.309998,49701400,189.861400,164.74988,188.655499,183.48035,186.606999,184.501996

In [136]:
aapl.reset_index(inplace=True)

In [137]:
aapl

,Date,Open,High,Low,Close,Adj Close,Volume,50-day MA,500-day MA,20-day MA,200-day MA,10-day MA,5-day MA
0,2021-02-22,128.009995,129.720001,125.599998,126.000000,123.840332,103916400,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-23,123.760002,126.709999,118.389999,125.860001,123.702736,158273000,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-24,124.940002,125.559998,122.230003,125.349998,123.201469,111039900,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-25,124.680000,126.459999,120.540001,120.989998,118.916206,148199500,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-26,122.589996,124.849998,121.199997,121.260002,119.181580,164560400,NaN,NaN,NaN,NaN,NaN,123.892000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,2024-02-12,188.419998,188.669998,186.789993,187.149994,187.149994,41781900,190.4350,164.64220,189.212499,183.18465,187.586000,188.606003
749,2024-02-13,185.770004,186.210007,183.509995,185.039993,185.039993,56529500,190.3368,164.66670,189.282999,183.26780,187.286000,187.754001
750,2024-02-14,185.320007,185.529999,182.440002,184.149994,184.149994,54630500,190.1950,164.68990,189.356499,183.34015,187.261000,186.701999
751,2024-02-15,183.550003,184.490005,181.350006,183.860001,183.860001,65434500,190.0836,164.71986,189.117999,183.41150,186.961000,185.809998
752,2024-02-16,183.419998,184.850006,181.669998,182.309998,182.309998,49701400,189.8614,164.74988,188.655499,183.48035,186.606999,184.501996

In [138]:
aapl[aapl['Date']=='2023-02-21']

,Date,Open,High,Low,Close,Adj Close,Volume,50-day MA,500-day MA,20-day MA,200-day MA,10-day MA,5-day MA
503,2023-02-21,150.199997,151.300003,148.410004,148.479996,147.691666,58867200,140.248799,148.66202,149.480999,147.30605,152.556999,152.654001

In [146]:
df['50-day MA']=aapl['50-day MA'].iloc[503:753].values

In [148]:
df['500-day MA']=aapl['500-day MA'].iloc[503:753].values
df['20-day MA']=aapl['20-day MA'].iloc[503:753].values
df['200-day MA']=aapl['200-day MA'].iloc[503:753].values
df['10-day MA']=aapl['10-day MA'].iloc[503:753].values
df['5-day MA']=aapl['5-day MA'].iloc[503:753].values

In [149]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,50-day MA,500-day MA,20-day MA,200-day MA,10-day MA,5-day MA
0,2023-02-21,150.199997,151.300003,148.410004,148.479996,147.691666,58867200,140.248799,148.66202,149.480999,147.30605,152.556999,152.654001
1,2023-02-22,148.869995,149.949997,147.160004,148.910004,148.119370,51011300,140.373999,148.71732,149.799999,147.26675,151.983000,151.796002
2,2023-02-23,150.089996,150.339996,147.240005,149.399994,148.606766,48394200,140.518799,148.76054,150.176999,147.22735,151.731000,150.610001
3,2023-02-24,147.110001,147.190002,145.720001,146.710007,145.931061,55469600,140.563199,148.80372,150.314499,147.20060,151.315001,149.210001
4,2023-02-27,147.710007,149.169998,147.449997,147.919998,147.134628,44998500,140.612199,148.85544,150.413999,147.16765,151.006001,148.284000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2024-02-12,188.419998,188.669998,186.789993,187.149994,187.149994,41781900,190.435000,164.64220,189.212499,183.18465,187.586000,188.606003
246,2024-02-13,185.770004,186.210007,183.509995,185.039993,185.039993,56529500,190.336800,164.66670,189.282999,183.26780,187.286000,187.754001
247,2024-02-14,185.320007,185.529999,182.440002,184.149994,184.149994,54630500,190.195000,164.68990,189.356499,183.34015,187.261000,186.701999
248,2024-02-15,183.550003,184.490005,181.350006,183.860001,183.860001,65434500,190.083600,164.71986,189.117999,183.41150,186.961000,185.809998
249,2024-02-16,183.419998,184.850006,181.669998,182.309998,182.309998,49701400,189.861400,164.74988,188.655499,183.48035,186.606999,184.501996

In [150]:
# Generate buy and sell signals
df['Buy Signal'] = ((df['50-day MA'] > df['500-day MA']) & (df['20-day MA'] > df['200-day MA'])).astype(int)
df['Sell Signal'] = ((df['20-day MA'] < df['200-day MA']) & (df['10-day MA'] < df['5-day MA'])).astype(int)

In [151]:
# Track buy and sell positions
buy_position = False
sell_position = False
positions = []

In [152]:
for index, row in df.iterrows():
    if row['Buy Signal'] == 1:
        if not buy_position:
            buy_position = True
            positions.append(('Buy', row['Date'], row['Close']))
    elif row['Sell Signal'] == 1:
        if not sell_position:
            sell_position = True
            positions.append(('Sell', row['Date'], row['Close']))
    else:
        if buy_position:
            buy_position = False
            positions.append(('Close Buy', row['Date'], row['Close']))
        if sell_position:
            sell_position = False
            positions.append(('Close Sell', row['Date'], row['Close']))

In [155]:
positions

[('Buy', '2023-03-29', 160.770004)]

In [153]:
# Print the buy/sell positions
print("Buy/Sell Positions:")
for position in positions:
    print(position)

Buy/Sell Positions:
('Buy', '2023-03-29', 160.770004)

In [154]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,50-day MA,500-day MA,20-day MA,200-day MA,10-day MA,5-day MA,Buy Signal,Sell Signal
0,2023-02-21,150.199997,151.300003,148.410004,148.479996,147.691666,58867200,140.248799,148.66202,149.480999,147.30605,152.556999,152.654001,0,0
1,2023-02-22,148.869995,149.949997,147.160004,148.910004,148.119370,51011300,140.373999,148.71732,149.799999,147.26675,151.983000,151.796002,0,0
2,2023-02-23,150.089996,150.339996,147.240005,149.399994,148.606766,48394200,140.518799,148.76054,150.176999,147.22735,151.731000,150.610001,0,0
3,2023-02-24,147.110001,147.190002,145.720001,146.710007,145.931061,55469600,140.563199,148.80372,150.314499,147.20060,151.315001,149.210001,0,0
4,2023-02-27,147.710007,149.169998,147.449997,147.919998,147.134628,44998500,140.612199,148.85544,150.413999,147.16765,151.006001,148.284000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2024-02-12,188.419998,188.669998,186.789993,187.149994,187.149994,41781900,190.435000,164.64220,189.212499,183.18465,187.586000,188.606003,1,0
246,2024-02-13,185.770004,186.210007,183.509995,185.039993,185.039993,56529500,190.336800,164.66670,189.282999,183.26780,187.286000,187.754001,1,0
247,2024-02-14,185.320007,185.529999,182.440002,184.149994,184.149994,54630500,190.195000,164.68990,189.356499,183.34015,187.261000,186.701999,1,0
248,2024-02-15,183.550003,184.490005,181.350006,183.860001,183.860001,65434500,190.083600,164.71986,189.117999,183.41150,186.961000,185.809998,1,0
249,2024-02-16,183.419998,184.850006,181.669998,182.309998,182.309998,49701400,189.861400,164.74988,188.655499,183.48035,186.606999,184.501996,1,0

In [157]:
df.to_excel('df.xlsx')