In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import mplfinance as mpf

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://postgres:phyinfinite@localhost:5432/tbtfw')

In [4]:
try:
    connection = engine.connect()
    print("Connected to the database")
except Exception as e:
    print("Unable to connect to the database:", e)

Connected to the database

In [7]:
df=pd.read_csv('/Users/hrishityelchuri/TBTFW_task/TBTFW_task/data/JIOFIN.NS.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       122 non-null    object
 1   Open       121 non-null    float64
 2   High       121 non-null    float64
 3   Low        121 non-null    float64
 4   Close      121 non-null    float64
 5   Adj Close  121 non-null    float64
 6   Volume     121 non-null    float64
dtypes: float64(6), object(1)
memory usage: 6.8+ KB

In [14]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-08-21,262.000000,262.049988,248.899994,248.899994,248.899994,74715306.0
1,2023-08-22,236.449997,236.449997,236.449997,236.449997,236.449997,7281398.0
2,2023-08-23,224.649994,224.649994,224.649994,224.649994,224.649994,4289046.0
3,2023-08-24,213.449997,213.449997,213.449997,213.449997,213.449997,27673350.0
4,2023-08-25,202.800003,224.100006,202.800003,214.500000,214.500000,281040100.0
...,...,...,...,...,...,...,...
117,2024-02-12,276.100006,281.100006,267.700012,271.450012,271.450012,47043870.0
118,2024-02-13,270.450012,275.399994,263.700012,272.750000,272.750000,31220100.0
119,2024-02-14,269.899994,275.000000,268.549988,273.000000,273.000000,21374190.0
120,2024-02-15,275.000000,279.000000,273.000000,274.049988,274.049988,19477720.0
121,2024-02-16,275.299988,276.750000,271.000000,271.899994,271.899994,14337050.0

The dataset contains 1 null value

In [15]:
df[df.isnull().any(axis=1)]

           Date  Open  High  Low  Close  Adj Close  Volume
102  2024-01-18   NaN   NaN  NaN    NaN        NaN     NaN

We can fill this by getting real time value from yfinance

In [17]:
# Fetch JIOFIN.NS stock data from Yahoo Finance
start_date = '2023-08-21'
end_date = '2024-02-17'
jf = yf.download('JIOFIN.NS', start=start_date, end=end_date)
jf.reset_index(inplace=True)

[*********************100%%**********************]  1 of 1 completed

In [19]:
df=jf.copy()

In [20]:
# Calculate moving averages for df data
df['50-day MA'] = df['Close'].rolling(window=50).mean()
df['500-day MA'] = df['Close'].rolling(window=500).mean()
df['20-day MA'] = df['Close'].rolling(window=20).mean()
df['200-day MA'] = df['Close'].rolling(window=200).mean()
df['10-day MA'] = df['Close'].rolling(window=10).mean()
df['5-day MA'] = df['Close'].rolling(window=5).mean()

In [21]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,50-day MA,500-day MA,20-day MA,200-day MA,10-day MA,5-day MA
0,2023-08-21,262.000000,262.049988,248.899994,248.899994,248.899994,74715306,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-08-22,236.449997,236.449997,236.449997,236.449997,236.449997,7281398,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-08-23,224.649994,224.649994,224.649994,224.649994,224.649994,4289046,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-08-24,213.449997,213.449997,213.449997,213.449997,213.449997,27673350,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-08-25,202.800003,224.100006,202.800003,214.500000,214.500000,281040100,NaN,NaN,NaN,NaN,NaN,227.589996
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2024-02-12,276.100006,281.100006,267.700012,271.450012,271.450012,47043870,245.027,NaN,255.997501,NaN,263.795001,269.340002
117,2024-02-13,270.450012,275.399994,263.700012,272.750000,272.750000,31220100,245.961,NaN,257.057501,NaN,266.300002,269.700000
118,2024-02-14,269.899994,275.000000,268.549988,273.000000,273.000000,21374190,246.833,NaN,257.955001,NaN,268.775002,270.600000
119,2024-02-15,275.000000,279.000000,273.000000,274.049988,274.049988,19477720,247.804,NaN,258.320000,NaN,270.940001,272.850000
120,2024-02-16,275.299988,276.750000,271.000000,271.899994,271.899994,14337050,248.640,NaN,259.472500,NaN,272.750000,272.629999

In [22]:
# Generate buy and sell signals
df['Buy Signal'] = ((df['50-day MA'] > df['500-day MA']) & (df['20-day MA'] > df['200-day MA'])).astype(int)
df['Sell Signal'] = ((df['20-day MA'] < df['200-day MA']) & (df['10-day MA'] < df['5-day MA'])).astype(int)

In [23]:
# Generate buy and sell signals, and track buy/sell positions (remaining part)
buy_position = False
sell_position = False
positions = []

In [24]:
for index, row in df.iterrows():
    if row['Buy Signal'] == 1:
        if not buy_position:
            buy_position = True
            positions.append(('Buy', row['Date'], row['Close']))
    elif row['Sell Signal'] == 1:
        if not sell_position:
            sell_position = True
            positions.append(('Sell', row['Date'], row['Close']))
    else:
        if buy_position:
            buy_position = False
            positions.append(('Close Buy', row['Date'], row['Close']))
        if sell_position:
            sell_position = False
            positions.append(('Close Sell', row['Date'], row['Close']))

In [25]:
# Print the buy/sell positions
print("Buy/Sell Positions:")
for position in positions:
    print(position)

Buy/Sell Positions:

There are no buy or sell positions here because our signals work for 500 day MA, which is null here